parameters:
    bootstrapFiles:
        - ./constants.php
    dynamicConstantNames:
        - APP_UTILS_TESTSUITE
    paths:
        - ../../src
        - ../AppUtilsTestClasses
        - ../AppUtilsTests
    ignoreErrors:
        -
            message: '#of function call_user_func_array expects callable\(\)#'
            path: ../../src/functions.php
        -
            message: '#Instanceof between DateInterval and DateInterval will always evaluate to true.#'
            path: ../../src/DateTimeHelper/DateIntervalExtended.php
        -
            message: '#RGBAColor does not accept int.#'
            path: ../AppUtilsTests/RGBAColor/ColorArrayAccessTest.php
        -
            message: '#should return class-string but returns string#'
            path: ../../src/FileHelper/PHPClassInfo/Class.php
        -
            message: '#with class-string and class-string will always evaluate to true.#'
            path: ../../src/FileHelper/PHPClassInfo/Class.php